<nav>
    <div class="grid m-auto border-bottom-1 border-300 h-6rem ">
        <div class="col max-w-min m-auto">
            <img src="../../public/images/Pinterest-logo.webp" height="40" alt="Logo Pinterest">
        </div>
        
        <div class="col m-auto max-w-min">
            <p-button [rounded]="true" [text]="activeInicio" (onClick)="activeInicio = false; activeExplorar = true; activeCrear = true;" label="Inicio"></p-button>
        </div>
        <div class="col m-auto max-w-min">
            <p-button [rounded]="true" [text]="activeExplorar" (onClick)="activeInicio = true; activeExplorar = false; activeCrear = true;" label="Explorar"></p-button>
        </div>
        <div class="col m-auto max-w-min">
            <p-button [rounded]="true" [text]="activeCrear" (onClick)="activeInicio = true; activeExplorar = true; activeCrear = false;" label="Crear"></p-button>
        </div>
        <div class="xl:col-6 lg:col-6 md:col-6 m-auto">
            <span class="p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <input type="text" placeholder="Buscar" class="w-full" pInputText  />
            </span>
        </div>
        <div class="col m-auto max-w-min">
            <p-button icon="pi pi-fw pi-bell" [rounded]="true" [text]="true" size="large"></p-button>
        </div>
        <div class="col m-auto max-w-min">
            <p-button icon="pi pi-fw pi-comment" [rounded]="true" [text]="true" size="large"></p-button>
        </div>
        <div class="col m-auto">
            <p-button icon="pi pi-fw pi-user" [rounded]="true" severity="info" [outlined]="true"></p-button>
            <p-button icon="pi pi-fw pi-angle-down" [rounded]="true" [text]="true" severity="secondary"></p-button>
        </div>
    </div>
</nav>